.App {
  text-align: center;
}

.App-logo {
  height: 100vh;
  width: 100%;
  pointer-events: none;
  object-fit: cover;
}
.H1Border{
  border-bottom: 4px solid blue;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.offcanvas.sidebar {

  background: #002a51;
  border-radius: 15px;
  margin: 0.5rem;
  padding: 1rem;
  color: #fff;
  width: auto;
}
.offcanvas.sidebar  .offcanvas-body{
  padding: 0;
}
.offcanvas.sidebar  .nav .nav-link{
  font-weight: 600;
  padding: 0.8rem 0.5rem;
  font-size: 1.2rem;    color: #4eabe0;
}
.offcanvas.sidebar  .nav .nav-link i{
  background: #1f6590;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  animation: 1;
  text-align: center;
  line-height: 30px;
  color: #fff;
  margin-right: 1rem;
  font-size: 14px;
}

.offcanvas-backdrop{
  width: 100% !important;
  height: 100% !important;
}
.cardWIdth{
  width: 50rem;
}
@media only screen and (max-width: 768px) {
  .cardWIdth {
    width: 35rem !important;
  }
}
.mainContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.rightCard {
  height: calc(100vh - 32vh);
  overflow: scroll;
}